.git
.gitignore
node_modules
vendor
_deprecated
tests
docs
*.md
.env
.replit
replit.nix
.dockerignore
docker-compose.yml
Dockerfile
exports
api-node
prisma
package.json
package-lock.json
tsconfig.json
jest.config.json
